
.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    overflow: scroll;
}
.row{
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    div{
        display: flex;
    }
}

.tableDiv{
    padding: 0;
    margin: 0;
    height: 70vh;
}
