<app-header></app-header>
<app-nav></app-nav>
<div class="section">
    <div class="title">
        <h1 class="text-center">Home Page</h1>
    </div>
    <div class="details">

        <div class="items">
            <div class="col">
                <div class="card">
                    <img src="../../../assets/photos/staff.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Staffs</h5>
                        <p class="card-text">8</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../../assets/photos/cus.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Customers</h5>
                        <p class="card-text">15</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../../assets/photos/orders.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Orders</h5>
                        <p class="card-text">25</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../../assets/photos/cloth.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Products</h5>
                        <p class="card-text">60</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>